/* Style général de la page */
body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    margin: 20px;
    text-align: center;
}

/* Style du formulaire */
form {
    background-color: #fff;
    border: 1px solid #ccc;
    margin: 10px auto;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 2px 2px 5px #888888;
    max-width: 400px;
}

/* Style des titres */
h1 {
    color: #333;
}

/* Style des labels */
label {
    display: block;
    text-align: left;
    margin-top: 10px;
}

/* Style des champs de saisie */
input[type="text"],
select {
    width: 90%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* Style de la case à cocher */
input[type="checkbox"] {
    margin-right: 5px;
}

/* Style du bouton de validation */
input[type="submit"] {
    background-color: #007BFF;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

/* Style du bouton de validation au survol */
input[type="submit"]:hover {
    background-color: #0056b3;
}
img {
    max-width: 200px;
    height: 145px;
    box-shadow: 5px 5px 5px #888888; /* Ajoute une ombre à l'image */
}
header {
    background-color: #007BFF;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}
nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}
